<configuration>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>micronaut-mcp-cli.out</file>
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="LOGFILE"/>
    </root>
</configuration>
